.machine-item {
    height: 140px;
    min-width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: bold;
    gap: 10px;

    &__icon {
        font-size: 50px;
    }
}
